body {
    background-color: pink;
    text-align: left;
    div{
      width: 100px
      height: 100px
      background-color: dodgerblue;
    }
h1 {
    color: rgb(70,130,180);
  }
  img {
    max-width: 100%;
  }
