body {
    background-color: pink;
    text-align: left;
}
#container {
  width: 120%;
  margin-left: -20%;
  margin-top: -50px;
}
.tile1, .tile2, .tile3, .tile4 {
  width: 100px;
  height: 100px;
  float: left;
  opacity: .8;
  margin:-10px;
}
.tile1 {
      background-color: rgb(83, 32, 197);
    }
.tile2 {
      background-color: rgb(83, 206, 213);
    }
.tile3 {
     background-color: rgb(134, 101, 152 );
   }
.tile4 {
    background-color: rgb(101, 141, 152);
   }
h1 {
    color: rgb(70,130,180);
  }
  img {
    max-width: 100%;
  }
