body {
    background-color: pink;
    text-align: left;
h1 {
    color: rgb(70,130,180);
  }
  #container{
    50%;
  }
    p {
      color: blue;
    }
    .intro{
      color: green;
    }
  img {
    max-width: 100%;

  }
