body {
    background-color: pink;
    text-align: left;
    max-width: 100%;
  }
h1 {
    color: rgb(70,130,180);
  }
#container {
    width:50%;
    margin: 100px auto;
  }
  p {
      color: darkblue;
    }
.intro{
      color: green;
    }
img {
  max-width: 100%
  }
