body {
    background-color: white;
}
#box1{
  width: 1200px;
}
#box2{
  width: 1200px;
}
#box3{
  width: 1200px;
}
#square{
  width: 1200px;
}
.text{
  margin: 100px 600px -130px 600px;
  color: black;
  font-family: forma-djr-deck,sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 50px;
  letter-spacing: 30px;
}
.text2{
  margin: 0px 600px -130px 600px;
  color: black;
  float: center;
  font-family: forma-djr-deck,sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 50px;
  letter-spacing: 30px;
}
.text3{
  margin: 0px 600px -3000px 600px;
  color: black;
  float: center;
  font-family: forma-djr-deck,sans-serif;
  font-weight: 200;
  font-style: italic;
  font-size: 50px;
  letter-spacing: 30px;
}
.info{
  margin: 0px 600px 0px 600px;
  color: black;
  float: center;
  font-family: forma-djr-deck,sans-serif;
  font-weight: 50;
  font-style: italic;
  font-size: 24px;
  letter-spacing: 10px;
}
