body {
    Width: 1440px;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
}
img {
 max-width:100%;
}
.cf:before,
.cf:after{
  content: " ";
  display: table;
}
.cf:after{
  clear: both;
}
*{
  box-sizing: border-box;
}
#container{
  font-family: big-caslon-fb, serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  width:100%;
}
#square{
  font-family: big-caslon-fb, serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  width: 100%;
}
.text{
  text-align:center;
  font-size: 25px;
  /* padding: 0px 20px 200px 30px; */
  letter-spacing: 15px;
}
.navigation1{
  text-align: left;
  font-size: 12px;
  /* margin: -225px 0px 0px 380px; */
  letter-spacing: 8px;
}
.graybox{
  z-index: 2;
  width:96%;
  /* height:650px; */
  float: left;
  height: 530px;
  /* margin: 50px 0px 0px 0px; */
  padding: 50px;
  margin-left:1%;
  background-color: rgb(198, 197, 196);
}
.picture{
  /* background-image: url(../img/ringfront.png); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
    /* z-index: 1; */
    width:50%;
    z-index: 3;
    /* height:530px; */
    /* margin:-600px 0px 0px 30px; */
    /* float: left; */
   }
.title1{
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
  float: right;
  margin-top: -420px;
  margin-bottom: 900px;
  padding-right: 150px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 10px solid rgb(198, 197, 196);
    width: 96.5%;
    padding: 0%;
    margin-left:1%;
    position:absolute;
    top: 85%;
}
.textnavigation{
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
  float: right;
  z-index: 1;
  position:absolute;
  top: 880px;
  bottom: 0px;
  margin-left: 40%;
  margin-right: 50%;
}
.graybox2{
  width: 47%;
  float: right;
  height: 412px;
  position:absolute;
  left: 50%;
  top: 1050px;
  background-color: rgb(198, 197, 196);
}
p{
  font-size: 30px;
  text-align: left;
  line-height: 1.6;
  text-indent: 20px;
}
.text1{
  height: 100%;
  position: absolute;
  top: 20px;
  right: 50px;
  left: 50px;
}
.picture2{
    float: left;
    position: absolute;
    top: 1050px;
    margin-left: 3%;
}
.picture3{
    float: left;
    position: absolute;
    top: 1500px;
    margin-left: 3%;
}
.picture4{
    float: left;
    position: absolute;
    top: 1500px;
    margin-left: 34%;
}
.picture5{
    width: 100%;
    position: absolute;
    top: 1500px;
    margin-left: 62%;
}
.textnavigation2{
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  float: right;
  position:absolute;
  top: 1800px;
  margin-left: 31%;
  margin-right: 50%;
}
.picture6{
  float: left;
  height: auto;
  width: 43%;
  position: absolute;
  top: 1980px;
  margin-left: 3%;
}
.graybox3{
  width: 47%;
  float: right;
  height: 405px;
  position:absolute;
  left: 50%;
  top: 1980px;
  background-color: rgb(198, 197, 196);
}
.text2{
  position: absolute;
  top: 20px;
  right: 50px;
  left: 50px;
}
.picture7{
  float: left;
  height: auto;
  width: 43%;
  position: absolute;
  top: 2435px;
  margin-left: 3%;
}
.picture8{
  height: auto;
  width: 25%;
  position: absolute;
  top: 2435px;
  margin-left: 49.5%;
  max-width: cover;
}
.textnavigation3{
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  float: right;
  position:absolute;
  top: 2800px;
  margin-left: 33%;
  margin-right: 50%;
}
.picture9{
  height: auto;
  width: 43%;
  float: left;
  position: absolute;
  top: 3000px;
  margin-left: 3%;
}
.graybox4{
  width: 46%;
  float: right;
  height: 540px;
  position:absolute;
  left:50%;
  top: 3000px;
  background-color: rgb(198, 197, 196);
}
.picture10{
  float: left;
  position: absolute;
  top: 3585px;
  margin-left: 3%;
}
.picture11{
  float: left;
  position: absolute;
  top: 3585px;
  margin-left: 25%;
}
.picture12{
  float: left;
  position: absolute;
  top: 3585px;
  margin-left: 49.5%;
}
.picture13{
  width: 100%;
  position: absolute;
  top: 3585px;
  margin-left: 76%;
}
.textnavigation4{
  Width: 100%;
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  position:absolute;
  top: 4050px;
  left: 0px;
  right: 300px;

}
.picture14{
  float: left;
  width: 43%;
  height: auto;
  position: absolute;
  top: 4250px;
  margin-left: 3%;
}
.graybox5{
  width: 46%;
  float: right;
  height: 415px;
  position:absolute;
  left: 50%;
  top: 4250px;
  background-color: rgb(198, 197, 196);
}
h5{
  font-size: 30px;
  text-align: center;
}
.text4{
  float: center;
  text-align: left;
  position:absolute;
  position: absolute;
  top: 20px;
  right: 50px;
  left: 50px;
  line-height: 1.6;
}
.textnavigation5{
  text-align: center;
  font-size: 50px;
  letter-spacing: 10px;
  float: right;
  position:absolute;
  top: 4700px;
  margin-left: 40%;
  margin-right: 50%;
}
.graybox6{
  width: 93%;
  height: 40%;
  position:absolute;
  left: 3%;
  top: 4860px;
  background-color: rgb(198, 197, 196);
}
@media only screen and (max-width: 1440px){
  #container{
    width: 1440px;
  }
  .graybox{
    height: 60vh;
    width: 96vw;
  }
  .title1{
    font-size: 4vh;
    width: auto;
    padding-top: 12%;
    padding-right: 13%;
  }
  .picture{
    background:url('../img/ringfront.png') no-repeat center center;
    background-size:cover;
    overflow:hidden;
  }
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  #square{
    width: 1440px;
    height: 100%;
  }

  .picture2{
      width: auto;
      height: 50vh;
      float: left;
      margin-left: 3%;
  }
  .graybox2{
    height: 49vh;
    width: 31vh;
    margin-left: 20%;
  }
  .text1{
    height: 30vh;
  }
  p{
    font-size: 20px;
  }
  .picture3{
      width: 25vw;
      height: auto;
      float: left;
      margin-left: 3%;
      object-fit: cover;
  }
  .picture4{
      width: 25vw;
      height: auto;
      float: left;
      margin-left: 33%;
  }
  .picture5{
      width: 32vw;
      height: auto;
      margin-left: 63%;
  }
  .graybox3{
    height: 37vh;
    width: 54vh;
    margin-left: 2%;
  }
  .text2{
    height: 30vh;
  }
  .picture7{
    width: 32vw;
    height: auto;
    margin-left: 3%;
  }
  .picture8{
    width: 32vw;
    height: auto;
    margin-left: 49%;
  }

}
@media only screen and (max-width: 1220px){
  .graybox{
    height: 50vh;
    width: 94vw;
  }
  .title1{
    font-size: 4vh;
    padding-top: 15%;
    padding-right: 9%;
  }
  .text{
    width:100vh;
    text-align:center;
    font-size: 2vh;
    letter-spacing: 15px;
  }
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 1024px){
  #container{
    width: 1024px;
  }
  .graybox{
    height: 45vh;
    width: 94vw;
    margin-top: 1%;
  }
  .text{
    width:100vh;
    text-align:center;
    font-size: 2vh;
    letter-spacing: 15px;
  }
  .title1{
    font-size: 3vh;
    letter-spacing: 5px;
    width:auto;
    padding-top: 25%;
    padding-right: 9%;

  }
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 768px){
  #container{
    width: 768px;
  }
  .graybox{
    height: 35vh;
    width: 94vw;
    margin-top: 1%;
  }
  .title1{
    font-size: 3vh;
    letter-spacing: 5px;
    width:auto;
    padding-top:32%;
    padding-right: 5%;
  }
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 520px){
  #container{
    width: 520px;
  }
  .graybox{
    height: 20vh;
    width: 90vw;
    margin-top: 1%;
  }
  .title1{
    font-size: 1vh;
    letter-spacing: 5px;
    width: 50%;
    padding-top:32%;
    padding-right: 5%;

  }
  .text{
    width:520px;
    text-align:center;
    font-size: 1vh;
    letter-spacing: 15px;
  }

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}
